@use "/styles/shared" as *;

.board {
  background-color: hsl(var(--hue, 75), 61%, 92%);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  
  height: 100%;

  &--vertical {
    scrollbar-width: thin;
    overflow: y
  }
}

.board__header {
  background-color: hsl(var(--hue, 75), 61%, 92%);
  display: flex;
  padding: 16px;
  border-bottom: rgb(0 0 0 / .0) 1.5px solid;
  position: sticky;
  gap: 10px;
  top: 0;
  z-index: 1;

  transition: border-bottom 0.5s, padding-left 0.2s;

  .board--scrolled & {
    border-bottom: $secondary-text-color 1.5px solid;
  }

  :root:has(.sidebar.collapsed) & {
    transition: border-bottom 0.5s, padding-left 0.2s 0.35s;
    padding-left: 16px + 38px + 10px;
  }
}

.board__title {
  overflow: hidden;
  font-size: 24px;
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.board__hue-picker {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: none;
  background-color: white;
  transition: background-color 0.2s;
  border: 2px solid rgb(255, 255, 255);

  @include button(white);
}


.board__body {
  display: flex;
  align-items: start;
  padding: 16px;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;

  .board--vertical & {
    overflow: unset;
  }
}

.board__content {
  height: 100%;
  align-items: start;
  gap: 10px;
  display: flex;

  &--vertical {
    width: 100%;
    gap: 20px;
    flex-direction: column;
  }

  &:empty {
    display: none;
  }
}


.board__add-new-section-form-place {
  background-color: $primary-color;
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  flex-shrink: 0;

  &:empty {
    display: none;
  }
}