@use 'sass:math';
@use 'sass:color';
@use '@styles/shared' as *;


$secondary-color: #767676;
$toggle-visibility-button-size: 32px;
$sidebar-width: 250px;
$sidebar-padding-right: 10px;
$sidebar-padding-left: 10px;
$sidebar-padding-top: 10px;
$sidebar-padding-bottom: 10px;
$sidebar-padding: 
  $sidebar-padding-top
  $sidebar-padding-right
  $sidebar-padding-bottom
  $sidebar-padding-left;

$sidebar-item-padding: 10px;

.sidebar {
  border-right: 1px solid $secondary-text-color;
  width: $sidebar-width;
  padding: $sidebar-padding;
  background-color: $primary-color;
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: width 0.2s, background-color 0.2s;

  &.collapsed {
    width: 0;
  }
}

.sidebar__content {
  width: $sidebar-width - $sidebar-padding-right - $sidebar-padding-left;
  transition: transform 0.2s;

  .sidebar.collapsed & {
    transform: translateX(-$sidebar-width);
  }
}

.sidebar__toggle-visibility-button {
  border-top: $secondary-text-color 1px solid;
  border-right: $secondary-text-color 1px solid;
  border-bottom: $primary-color 1px solid;
  border-left: $primary-color 1px solid;

  border-radius: 9999px;
  width: $toggle-visibility-button-size;
  height: $toggle-visibility-button-size;
  position: absolute;
  top: 50%;
  right: -(math.div($toggle-visibility-button-size, 2));
  background-color: $primary-color;
  transform: translateY(-50%) rotate(45deg);

  transition: background-color 0.2s, right 0.2s;

  @include button($primary-color);

  .sidebar.collapsed & {
    right: -(math.div($toggle-visibility-button-size, 2));
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/images/icons/arrow.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(-1, -1) rotate(-45deg);
    transition: transform 0.2s;
  }

  .sidebar.collapsed &::after {
    transform: scale(1, 1) rotate(-45deg);
  }
}


.sidebar__sections {
  overflow: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sidebar__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sidebar__section-title {
  font-size: 18px;
  font-weight: 600;
  color: $secondary-color;
}


.sidebar__item {
  $default-active-color: color.scale($primary-color, $lightness: -8%);
  --hsl: hsl(var(--hue), 60%, 92%);
  overflow: hidden;
  padding: $sidebar-item-padding;
  border-radius: 5px;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
  user-select: none;
  position: relative;

  &:has(input:not(:disabled)) {
    border: 2px solid black;
    background:white;
    gap: 0;

    & .sidebar__item-action-button {
      display: none;
    }

    &::before {
      content: '';
    }
  }

  &--project {
    &::before {
      content: '#';
      color: $secondary-color;
    }
  }

  @include has-hover {
    &:hover {
      background-color: hsl(from var(--hsl, $default-active-color) h s calc(l + 1));
    }
  }

  &:active {
    background-color: hsl(from var(--hsl, $default-active-color) h s calc(l - 1));
  }

  &--active {
    --hsl: hsl(var(--hue), 60%, 92%);
    background-color: hsl(from var(--hsl, $default-active-color) h s l);
  }

  &.drag-over {
    background-color: white;
  }
}

.sidebar__item-icon {
  width: 16px;
  height: 16px;
  align-self: center;
}

.sidebar__item-icon-image {
  width: 100%;
  height: 100%;
}

.sidebar__item-title {
  color: $primary-text-color;
  background-color: unset;
  border: unset;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 24px + 10px;

  @include has-hover {
    padding: 0;
  }
}

.sidebar__item-action-button {
  width: 24px;
  height: 24px;
  position: absolute;
  right: $sidebar-item-padding;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  border-radius: 5px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    @include coloredIcon(url("/images/icons/actions.svg"));
  }

  @include transparent-button;
  
  @include has-hover {
    opacity: 0;
    
    @include button(var(--hsl, $primary-color));
    .sidebar__item:hover & {
      opacity: 1;
    }
  }
}