@use '/styles/shared' as *;

.action-menu {
  left: 0;
  top: 0;
  min-width: 170px;
  max-width: 320px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
}


// .action-menu__items {
// }


.action-menu__item {
  display: flex;
  padding: 10px;
  gap: 10px;

  transition: background-color 0.2s;

  @include button(white);
}


.action-menu__title {
  padding: 10px;
  font-size: 14px;
  color: #808080;
  text-align: center;
}


.action-menu__item-icon {
  width: 20px;
  height: 20px;
}


.action-menu__item-title {
  white-space: nowrap;
  min-width: 0;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}