@use '/styles/shared' as *;

.breadcrumbs {
  font-size: 12px;
  display: flex;
  gap: 20px;
  scrollbar-width: none;
  
  &::-webkit-scrollbar { 
    display: none;
  }

  & > *:not(:last-child)::after {
    color: black;
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    pointer-events: none;
    right: 0;
    transform: translateX(calc(100% + 2px));

    @include coloredIcon(url("/images/icons/arrow.svg"));
  }

  @include media-to(breakpoint("sm")) {
    gap: 16px
  }
  
  @include media-to(breakpoint("xs")) {
  }

  @include media-to(breakpoint("xxs")) {
  }
}


.breadcrumbs__item {
  display: flex;
  position: relative; 
  padding: 4px 6px;
  border-radius: 5px;
  color: $secondary-text-color;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis; 

  transition: background-color 0.2s;

  @include button($primary-color);

  @include media-to(breakpoint("lg")) {
    max-width: 150px;
  }

  @include media-to(breakpoint("md")) {
    max-width: 120px;
  }
  
  @include media-to(breakpoint("sm")) {
    max-width: 100px;
    padding: 4px;
  }
  
  @include media-to(breakpoint("xs")) {    
    max-width: 75px;
    padding: 2px;
  }

  @include media-to(breakpoint("xxs")) {
    max-width: 60px;
  }
}


.breadcrumbs__item--project {
  &::before {
    content: '#';
    margin-right: 2px;
  }
}


.breadcrumbs__item--list {
  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 2px;

    @include coloredIcon(url('/images/icons/list.svg'), $secondary-text-color);
  }
}

.breadcrumbs__item-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
