@use "/styles/shared" as *;

.button {
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;

  @include has-hover {
    &:hover {
      background-color: rgb(0 0 0 / 0.05);
    }
  }
  &:active {
    background-color: rgb(0 0 0 / 0.08);
  }
}