.date-picker {
  --border-radius: 10px;

  border-radius: var(--border-radius);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  
  & .air-datepicker {
    --adp-border-radius: var(--border-radius);
    --adp-border-color: unset;
  }
}