@use '@styles/shared' as *;

$primary-color: #F9F7F8;
$secondary-color: white;
$secondary-text-color: #808080;



.list {
  max-height: 100%;
  width: 320px;
  padding: 15px;
  background-color: $primary-color;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.ghost {
    background-color: black;
    opacity: .2;
    * {
      opacity: 0;
    }
  }
}

.list__header {
  height: 32px;
  padding-left: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
}


.list__title {
  flex-grow: 1;
  font-weight: 500;
  font-size: 18px;
}


.list__show-actions-button {
  width: 32px;
  height: 32px;
  background-color: $primary-color;
  border: none;
  background-image: url('/images/icons/actions.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: background-color 0.2s;

  @include button($primary-color);
}


.list__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  scrollbar-width: thin;
}

// .list__footer {
// }
