@use '@styles/shared' as *;

$primary-color: #F9F7F8;
$secondary-color: white;
$secondary-text-color: #808080;



.list {
  width: 320px;
  padding: 15px;
  background-color: $primary-color;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .hidden {
    display: none;
  }
}

.list-header {
  padding: 10px;
}

.list__title {
  font-weight: 500;
  font-size: 18px;
}

.list__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// .list__footer {
// }
