@use '@styles/shared' as *;

$primary-color: #F9F7F8;
$secondary-color: white;
$secondary-text-color: #808080;

@mixin coloredIcon($url, $color: black) {
  background-color: $color;
  mask-image: $url;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: $url;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.list {
  width: 320px;
  padding: 15px;
  background-color: $primary-color;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .hidden {
    display: none;
  }
}

.list-header {
  padding: 10px;
}

.list__title {
  font-weight: 500;
  font-size: 18px;
}

.list__body {
  gap: 10px;
}

// .list__footer {
// }

.list__add-task-button {
  user-select: none;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: $secondary-text-color;
  border-radius: 5px;
  transition: background-color 0.2s;
  line-height: 1;

  @include button($primary-color);
  
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    @include coloredIcon(url('/images/icons/plus.svg'), $secondary-text-color);
  }
}

.list__form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.list__form-field-wrapper {
  border-radius: 5px;
  border: solid 1.5px #666666;
  padding: 5px;
  overflow: hidden;
}

.list__form-field {
  $line-height: 16px;
  line-height: 16px * 1.5;
  max-height: $line-height * 4 * 1.5;
  scrollbar-width: thin;
  outline: none;
  overflow: auto;

  &:empty::after {
    content: "Enter a title";
    color: #999999;
  }
}


.list__form-controls {
  display: flex;
  gap: 10px;
}


.list__form-save-button {
  $bgc: #292CFB;
  padding: 5px 10px;
  color: white;
  background-color: $bgc;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;

  @include button($bgc);
}


.list__form-cancel-button {
  $bgc: $primary-color;
  padding: 5px 10px;
  background-color: $bgc;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;

  @include button($bgc);

}