@use '@styles/shared' as *;

.mini-selector {
  display: flex;

  gap: 10px;
  align-items: center;
  padding: 4px 8px;
  border: 1px black solid;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: rgb(0 0 0 / 0);
  user-select: none;

  &:not(:has(.mini-selector__cancel-button:hover)) {
    @include transparent-button;
  }
}


.mini-selector__title-box {
  display: flex;
  gap: 6px;
  align-items: center;
  height: 24px;
}


.mini-selector__icon {
  width: 16px;
  height: 16px;
}


.mini-selector__title {
  color: $primary-text-color;
}


.mini-selector__option-box {
  display: flex;
  gap: 2px;
  align-items: center;

  &:has(.mini-selector__selected-option:empty) {
    display: none;
  }
}


.mini-selector__selected-option {
  color: $secondary-text-color;
}


.mini-selector__cancel-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    @include coloredIcon(url('/images/icons/close.svg'), #c80000);
  }

  @include transparent-button();
}


.mini-selector__invisible-input {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
}