@use "/styles/shared" as *;

.simple-list {
  width: 100%;

  display: grid;

  grid-auto-rows: min-content;
  grid-template-rows: min-content 1fr;
  transition: grid-template-rows 0.25s;
  
  &--collapsed {
    transition: grid-template-rows 0.25s 0.2s;
    grid-template-rows: min-content 0fr;
  }
}


.simple-list__header {
  display: flex;
  align-items: center;
  gap: 10px;
}


.simple-list__collapse-button {
  padding: 8px;
  border-radius: 5px;

  transition: background-color 0.2s;

  @include transparent-button;

  &:before {
    content: '';
    display: block;

    transition:  transform 0.2s;
    width: 16px;
    height: 16px;
    background-image: url('/images/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(90deg);
  }

  .simple-list--collapsed &{
    &:before {
      transform: rotate(0deg);
    }
  }
}


.simple-list__title {
  
}

.simple-list__reschedule-button {
  display: flex;
  gap: 10px;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s;
  line-height: 1;

  @include transparent-button;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;

    @include coloredIcon(url('/images/icons/calendar.svg'))
  }

  &:not(:first-child) {
    margin-left: auto;
  }
}

.simple-list__tasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  opacity: 1;

  transition: opacity 0.2s 0.25s, margin-top 0.2s;

  &:not(:first-child, :empty) {
    margin-top: 15px;
  }

  .simple-list--collapsed & {
    transition: opacity 0.2s, margin-top 0.25s 0.2s;
    margin-top: 0px;
    opacity: 0;
    font-size: 0px;
  }
}


.simple-list__footer {
  &:not(:first-child) {
    margin-top: 15px;
  }
}