@use 'sass:color';

@use '/styles/shared' as *;

$checkbox-size: 16px;

@mixin there-is-chosen {
  :root:has(.chosen) {
    @content
  }
}

.task {
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.2s;
  padding: 10px;
  
  @include button(white);

  &.drag {
    padding: 8px;
    border: 2px dashed black;
  }

  &.ghost {
    background-color: rgb(0 0 0 / .1);
    color: rgb(0 0 0 / 0);
    & * {
      transition: none;
      opacity: 0;
    }
  }
}

.task__title-box {
  align-items: start;
  display: flex;
  gap: 10px;
  
  &:has(.task__checkbox:checked) {
    text-decoration: line-through;
    opacity: 50%;
  }
}

.task__checkbox {
  width: $checkbox-size;
  height: $checkbox-size;
  
  @include has-hover {
    opacity: 0;
  }

  :root:not(:has(.chosen)) .task:hover &, &:checked {
    opacity: 1;
  }
}

.task__title {
  display: block;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  $line-height: 16px * 1.25;
  transition: margin-left 0.2s;
  line-height: $line-height;
  max-height: $line-height * 3;
  width: calc(100% - $checkbox-size - 10px);
  
  @include has-hover() {
    margin-left: -$checkbox-size - 10px;
  }

  *:not(.has-dragging) > .task:hover & {
    margin-left: 0;
    opacity: 1;
  }

  .task:has(.task__checkbox:checked) & {
    margin-left: 0;
    opacity: 1;
  }
}


.task__indicators-box {
  color: $secondary-text-color;
  display: flex;
  gap: 10px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}


// .task__description-indicator {
// }


.task__description-icon {
  width: 16px;
  height: 16px;
  @include coloredIcon(url('/images/icons/description.svg'), $secondary-text-color);
}


.task__subtasks-indicator {
  display: flex;
  gap: 3px;
}


.task__subtasks-icon {
  width: 16px;
  height: 16px;
  @include coloredIcon(url('/images/icons/subtask.svg'), $secondary-text-color);
}


// .task__subtasks-progress {
// }