@use '/styles/shared' as *;

$modal-padding: 24px;
$close-button-size: 30px;

.task-modal {
  display: flex;
  flex-direction: column;
  padding: $modal-padding;
  background-color: $primary-color;
  border: none;
  width: 578px;
  border-radius: 20px;
  position: relative;

  gap: 20px;
}


.task-modal__breadcrumbs {
  width: calc(100% - 100px);
}


.task-modal__exit-button {
  position: absolute;
  right: $modal-padding;
  top: $modal-padding;
  width: $close-button-size;
  height: $close-button-size;
  border-radius: 999px;
  background-image: url('/images/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 0.2s;
  
  @include button($primary-color);
}


.task-modal__header {
  padding-right: $close-button-size + 20px;
  display: flex;
  gap: 10px;
}

.task-modal__task-checkbox {
  width: 18px;
  height: 18px;
}

.task-modal__title {
  display: flex;
  font-size: 18px;
  gap: 10px;
}


.task-modal__body {
  display: flex;
  gap: 30px;
}


.task-modal__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}


.task-modal__sidebar {
  width: 130px;
}


.task-modal__info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}


.task-modal__info-section {
  display: flex;
  color: $secondary-text-color;
  display: flex;

  & > span {
    margin-left: 10px;
  }
}


.task-modal__list-link, .task-modal__project-link {
  text-decoration: underline;
  color: $primary-text-color;
  cursor: pointer;
  margin-left: 4px;

  &:first-child {
    margin-left: 10px;
  }

  &:hover {
    text-decoration: none;
  }
}


.task-modal__description {
  gap: 15px;
  display: flex;
  flex-direction: column;
}


.task-modal__description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.task-modal__description-edit-button {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  background: none;
  border: none;
  border-radius: 5px;

  transition: background-color 0.2s;

  @include button($primary-color);

  &::before { 
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    @include coloredIcon(url('/images/icons/edit.svg'));
  }
}


.task-modal__description-title {
  display: flex;
  gap: 6px;
  color: $secondary-text-color;
  align-items: end;
  line-height: 100%;
}


.task-modal__description-icon {
  width: 16px;
  height: 16px;
  @include coloredIcon(url('/images/icons/description.svg'), $secondary-text-color);
}


.task-modal__description-field-wrapper {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid $secondary-text-color;
  height: 150px;

  &:has(:disabled) {
    border: none;
  }
}


.task-modal__description-field {
  resize: none;
  width: 100%;
  padding: 10px;
  height: 100%;
  overflow: auto;
  border: none;
  scrollbar-width: thin;

  &:disabled {
    color: black;
    border: none;
    background-color: white;
  }
}


.task-modal__checklist {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.task-modal__checklist-header {
  display: flex; 
  justify-content: space-between;
}


.task-modal__checklist-title {
  display: flex;
  gap: 6px;
  color: $secondary-text-color;
  align-items: end;
  line-height: 100%;
}


.task-modal__checklist-body {
}


.task-modal__subtask-icon {
  width: 16px;
  height: 16px;
  @include coloredIcon(url('/images/icons/subtask.svg'), $secondary-text-color);
}


.task-modal__checklist-percentage {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1;
}


.task-modal__checklist-tasks {

  &:empty {
    display: flex;
    flex-direction: column;
    gap: 10px;

    display: none;
  }
}