@use "sass:map";
@use 'sass:meta';
@use 'sass:string';
@use 'sass:math';

@function breakpoint($breakpoint-name) {
  @if (not meta.type-of($breakpoint-name) == "string") {
    @error "Breakpoint wasn't specified";
  }

  $breakpoints: (
    xxs: 320px,
    xs: 400px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
  );

  $current-breakpoint: map.get($breakpoints, $breakpoint-name);

  @if (not $current-breakpoint) {
    @error "There is no such a breakpoint";
  }

  @return $current-breakpoint;
}

@function hue-gradient($saturation: 100%, $lightness: 50) {
  $steps: 30;
  $step: math.div(360, $steps);
  $result: "90deg";
  @for $i from 0 to $steps {
    $result: $result + ",";
    $result: $result + "hsl(#{$i * $step} #{$saturation} #{$lightness})"
  }
  @return linear-gradient(string.unquote($result));
}