@use 'sass:color';

@mixin button($color) {
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: color.mix(black, $color, 5%); 
  }

  &:active {
    background-color: color.mix(black, $color, 8%); 
  }
}