@use 'sass:color';

@mixin button($color) {
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: color.mix(black, $color, 5%); 
  }

  &:active {
    background-color: color.mix(black, $color, 8%); 
  }
}


@mixin coloredIcon($url, $color: black) {
  background-color: $color;
  mask-image: $url;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: $url;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}