@use 'sass:color';
@use './variables.scss' as *;



@mixin coloredIcon($url, $color: black) {
  background-color: $color;
  mask-image: $url;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: $url;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}


@mixin button($color) {
  cursor: pointer;
  user-select: none;

  @include has-hover {
    &:hover {
      background-color: color.mix(black, $color, 5%); 
    }
  }
  &:active {
    background-color: color.mix(black, $color, 8%); 
  }
}


@mixin transparent-button() {
  cursor: pointer;
  user-select: none;

  @include has-hover {
    &:hover {
      background-color: rgb(0 0 0 / 0.05);
    }
  }
  &:active {
    background-color: rgb(0 0 0 / 0.08);
  }
}


@mixin has-hover() {
  @media (hover: hover) {
    @content;
  }
}


@mixin media-from($breakpoint-from) {
  @media (min-width: $breakpoint-from) {
    @content;
  }
}


@mixin media-to($breakpoint-to) {
  @media (max-width: $breakpoint-to) {
    @content;
  }
}


@mixin media-from-to($breakpoint-from, $breakpoint-to) {
  @media (min-width: $breakpoint-from) and (max-width: $breakpoint-to) {
    @content;
  }
}