<div tabindex="0" class="context-menu">
  <div class="context-menu__items">
    <div class="context-menu__item"><img class="context-menu__item-icon" src="/images/icons/move-to.svg" alt=""><div class="context-menu__item-title">Move sdjflksk djflksj dlfkjsldfkjsjdlkf sdfasdfsadfasdfasdf</div></div>
    <div class="context-menu__item"><img class="context-menu__item-icon" src="/images/icons/details.svg" alt=""><div class="context-menu__item-title">Context</div></div>
    <div class="context-menu__item"><img class="context-menu__item-icon" src="/images/icons/bin.svg" alt=""><div class="context-menu__item-title">Remove</div></div>
  </div>
</div>