<div class="list">
  <div class="list-header">
    <div class="list__title"></div>
  </div>
  <div class="list__body"></div>
  <div class="list__footer">
    <div class="list__add-task-button">Add new task</div>
    <div class="list__form">
      <div class="list__form-field-wrapper">
        <div tabindex="0" class="list__form-field" contenteditable="plaintext-only" spellcheck="false"></div>
      </div>
      <div class="list__form-controls">
        <button class="list__form-save-button">Save</button>
        <button class="list__form-cancel-button">Cancel</button>
      </div>
    </div>
  </div>
</div>