<aside class="sidebar collapsed">
  <div class="sidebar__content-wrapper">
    <div class="sidebar__content">
      <div class="sidebar__sections">
        <div class="sidebar__section" data-type="filters">
          <div class="sidebar__section-content">
            <div class="sidebar__item" data-created-by="system" data-id="system.inbox" data-type="project">
              <div class="sidebar__item-icon"><img class="sidebar__item-icon-image" src="/images/icons/inbox.svg" alt=""></div>
              <div class="sidebar__item-title">Inbox</div>
            </div>
            <div class="sidebar__item" data-created-by="system" data-filtered-for="today" data-id="system.today" data-type="filter">
              <div class="sidebar__item-icon"><img class="sidebar__item-icon-image" src="/images/icons/today.svg" alt=""></div>
              <div class="sidebar__item-title">Today</div>
            </div>
          </div>
        </div>
        <div class="sidebar__section" data-type="projects">
          <div class="sidebar__section-title">Projects</div>
          <div class="sidebar__section-content"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar__toggle-visibility-button"></div>
  <div class="sidebar__backdrop"></div>
</aside>
