<dialog class="task-modal">
  <div class="task-modal__exit-button"></div>
  <div class="task-modal__breadcrumbs breadcrumbs">
    <div class="breadcrumbs__item breadcrumbs__item--project">beginning</div>
    <div class="breadcrumbs__item breadcrumbs__item--list">hello world</div>
  </div>
  <div class="task-modal__header">
    <input type="checkbox" class="task-modal__task-checkbox checkbox"><div class="task-modal__title"></div>
  </div>
  <div class="task-modal__body">
    <div class="task-modal__main">
      <div class="task-modal__description">
        <div class="task-modal__description-header">
          <div class="task-modal__description-title"><div class="task-modal__description-icon"></div>Description</div>
        </div>
        <div class="task-modal__description-field-wrapper">
          <textarea class="task-modal__description-field" spellcheck="false"></textarea>
        </div>
      </div>
      <div class="task-modal__checklist">
        <div class="task-modal__checklist-header">
          <div class="task-modal__checklist-title"><div class="task-modal__subtask-icon"></div>Checklist</div>
          <div class="task-modal__checklist-percentage">75%</div>
        </div>
        <div class="task-modal__checklist-body">
          <div class="task-modal__checklist-tasks"></div>
        </div>
      </div>
    </div>

    <div class="task-modal__sidebar">
      
    </div>

  </div>
</dialog>