<dialog class="task-modal">
  <div class="task-modal__header">
    <input type="checkbox" class="task-modal__task-checkbox checkbox">
    <div class="task-modal__title">asdfjlsjdflks</div>
  </div>
  <div class="task-modal__exit-button"></div>
  <div class="task-modal__body">
    <div class="task-modal__info">
      <div class="task-modal__list-info">Section: <div class=".task-modal__list-link">Beggining</div></div>
      <div class="task-modal__project-info">Section: <div class=".task-modal__project-link">Roadmap</div></div>
    </div>
    
    <div class="task-modal__subtasks-section">
      <div class="task-modal__section-title">Subtasks</div>
      <div class="task-modal__subtask">
        <input type="checkbox" class="task-modal__subtask-checkbox"></div><div class="task-modal__subtask-title">Some subtask</div>
      </div>
      <div class="task-modal__subtask">
        <input type="checkbox" class="task-modal__subtask-checkbox"></div><div class="task-modal__subtask-title">Some subtask</div>
      </div>
      <div class="task-modal__subtask">
        <input type="checkbox" class="task-modal__subtask-checkbox"></div><div class="task-modal__subtask-title">Some subtask</div>
      </div>
      <div class="task-modal__subtask">
        <input type="checkbox" class="task-modal__subtask-checkbox"></div><div class="task-modal__subtask-title">Some subtask</div>
      </div>
    </div>

    <div class="task-modal__description-section">
      <div class="task-modal__section-title">Description</div>
      <textarea class="task-modal__description-field"></textarea>
    </div>
  </div>
</dialog>