<div class="task">
  <div class="task__title-box">
    <input class="task__checkbox" type="checkbox">
    <div class="task__title"></div>
    <div class="task__action-button"></div>
  </div>
  <div class="task__indicators-box">
    <div class="task__indicator task__indicator--description">
      <div class="task__indicator-icon"></div>
    </div>
    <div class="task__indicator task__indicator--subtasks">
      <div class="task__indicator-icon"></div>
      <div class="task__indicator-info"></div>
    </div>
    <div class="task__indicator task__indicator--due-date">
      <div class="task__indicator-icon"></div>
      <div class="task__indicator-info"></div>
    </div>
    <div class="task__indicator task__indicator--priority">
      <div class="task__indicator-icon"></div>
    </div>
  </div>
</div>