<div class="board board--vertical">
  <div class="board__header">
    <div class="board__title">Today</div>
  </div>
  <div class="board__body">
    <div class="board__content board__content--vertical">
      <div class="simple-list" data-type="overdue">
        <div class="simple-list__header">
          <div class="simple-list__collapse-button"></div>
          <div class="simple-list__title">Overdue</div>
          <div class="simple-list__reschedule-button">Reschedule</div>
        </div>
        <div class="simple-list__tasks"></div>
      </div>

      <div class="simple-list" data-type="today">
        <div class="simple-list__header">
          <div class="simple-list__collapse-button"></div>
          <div class="simple-list__title">Today</div>
        </div>
        <div class="simple-list__tasks"></div>
        <div class="simple-list__footer"></div>
      </div>
    </div>
  </div>
</div>
